// glasses navigation background
.navbar {
    // background-color: $primary-glases;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
}

// navigation style
header {
  background: #1A237E; //rgba(25, 1, 72, 0.59);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(25, 1, 72, 1);
  -webkit-backdrop-filter: blur(20px);
  z-index: 999;
  @media (min-width: $md) {
    padding: 20px 50px; // flexible padding
  }
  @media (min-width: $lg) {
    padding: 20px 70px; // flexible padding
  }
  z-index: 998;
  box-shadow: 0 0 0.2rem black,0 0 0.2rem black;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    color: $light;
    text-decoration: none;
  }
  .navigation {
    display: none;
    @media (min-width: $md) {
      display: block;
    }
  }
  // .navLink {
  //   // margin: 0 2.5px;
  //     // padding: 10px 10px;
  //     // font: {
  //     //   family: $Poppins;
  //     //   weight: 600;
  //     // }
  //     // text-transform: uppercase;
  //     // &:hover {
  //     //   color: $light-hover;
  //     // }

  // }
  .logo {
    font: {
      size: 25px;
      family: $Quantico;
      weight: 900;
    }
    .menuIcon {
      display: inline-block;
      font-size: 25px;
      margin-bottom: -3px;
      color: $light;
      border-radius: 0.2rem;
      transition: 0.1s;
      &:hover {
        border-top: 0.12rem solid $light;
        border-bottom: 0.12rem solid $light;
      }
    }
  }
  .shopping-cart {
    font-size: 25px;
    &:hover {
      color: $light-hover;
      text-shadow: 0 0 0.2rem #171717,0 0 0.2rem #171717;
    }
  }
}
